<div class="form-container">
  <div id="grid">
    <div id="gridcell1">
        Join the Auxion Community
        <ul>
          <li>Wanna sell items -- Auxion is here!</li>
          <li>Upload Products</li>
          <li>Set a Deadline</li>
          <li>Wait for your mates to bid.</li>
          <li>Sell</li>
        </ul>
    </div>
    <div id="gridcell2">
      <%= form_with(model: product, local: true) do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="feild">
          <%= form.label :name %>
          <%= form.text_field :name, id: :product_name, style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px;' %>
        </div>

        <div class="feild">
          <%= form.label :description %>
          <%= form.text_area :description,maxlength: 250, id: :product_description, style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px;' %>
        </div>

        <div class="feild">
          <%= form.label :starting_bid %>
          <%= form.number_field :starting_bid, id: :product_starting_bid, style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px;' %>
        </div>

        <div class="feild">
          <%= form.label :deadline %><br>
          <%= form.date_select :deadline, id: :product_deadline, style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px;' %>
        </div>

        <div class="feild">
          <%= form.label :contact %>
          <%= form.text_field :contact, id: :product_contact, style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px;' %>
        </div>
        <div class="feild">
          <%= form.label :image %>
          <%= form.file_field :image, id: :product_image, style: 'width: 100%; border-radius:2px;' %>
        </div>
        <div class="actions">
          <%= form.submit 'Add Product', class: 'button',style:  'color:white; width: 100%; border-radius:2px; background-color:#1190DA; padding:5px; border-shadow:none; border:solid 1px blue;' %>
        </div>
      <% end %>
      <div class="terms">
        By clicking “Add Product”, you agree to our terms of service, privacy policy and cookie policy.
      </div>
    </div>
  </div>
</div>
