<p id="notice"><%= notice %></p>
<h1>Products</h1>


<% @products.each do |product| %>
<div id="wrapper">
<div id="first">
  <div class="image">
    <%= image_tag( product.image, :size => "260x180", :crop => :fill) %>
  </div>
</div>
<div id="second">
  <div class="feild">
    <b><%= link_to product.name, product %></b>
  </div>
  <div class="uploader">
     by <%= product.user.email %>
    <% if product.user == current_user %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  </div>
  <div class="text">
    <%= product.description %>
  </div>
    <%= product.claim %>
  <div class="integer">
    ₹<%= product.starting_bid %>.00
    <% if Date.current.midnight < product.deadline %>
    <% if current_user %>
    <%= link_to 'Bid', edit_product_path(product) %>
    <% end %>
    <% end %>
  </div>
  <br>
  <div class="contact">
    <b>For more details contact <%= product.contact %></b>
  </div>
</div>
<div id="third">
  <div class="buttons">
    <% if Date.current.midnight >= product.deadline %>
    <% if current_user and current_user.email == product.claim %>
    <button type="button" class="btn btn-success">Success</button>
    <% else %>
    <button type="button" class="btn btn-warning">claimed by <%= product.claim %></button>
    <% end %>
    <% end %>
  </div>
</div>
</div>
<% end %>
</div>
