<!DOCTYPE html>
<html>
  <head>
    <title>Auxion</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="nav">
	     <ul>
		       <li class="current"><a class="navbar-brand" href="/products">Auxion</a></li>
           <% if current_user %>
           <li class="logout"><%= link_to "Log Out", logout_path %></li>
           <% else %>
  		     <li class="signup"><%= link_to "Sign Up ", signup_path %></li>
  		     <li class ="login"><%= link_to "Log In", login_path %></li>
           <% end %>
           <% if current_user %>
		       <li><%= link_to 'New Product', new_product_path %></li>
           <li><%= link_to 'Uploaded Products', uploaded_products_path %></li>
           <li><%= link_to 'My Products', my_products_path %></li>
           <% end %>
        </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
